.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 2rem;

}

button{
  width: 30%;
  padding: 0.5rem;
  cursor: pointer;
}


select{

  padding: 0.3rem;
}

textarea{

width: 60%;
margin: 1rem;

}